<h2>heading  </h2>
<form action="/celebreties/create" method:"post">
<input name="name" type="text">
<input name="occupation" type="text">
<input name="catchPhrase" type="text">

<button> Add </button>
</form>